<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanyu.project.mapper.PromoMapper">
    <select id="getPromoById" resultType="com.hanyu.project.pojo.PromoDO">
        select * from promo where id = #{id}
    </select>
    <select id="getPromoByItemId" resultType="com.hanyu.project.pojo.PromoDO">
        select * from promo where itemId = #{id}
    </select>
</mapper>