<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seckill.system.mapper.StockMapper">
    <update id="decreaseStock">
        update stock set
        stock = stock - #{num},
        sales = sales + #{num}
        where itemId=#{itemId} and stock >= #{num};
    </update>

    <select id="getStockByItemId" resultType="com.seckillSystem.pojo.StockDO">
        select * from stock where itemId = #{itemId}
    </select>

</mapper>